<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Quiz</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>FormulaireServlet</servlet-name>
  <servlet-class>FormulaireServlet</servlet-class>
  
  </servlet>
  <servlet-mapping>
    <servlet-name>FormulaireServlet</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>QuestionServlet</servlet-name>
  <servlet-class>QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/question.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ReponseServlet</servlet-name>
  <servlet-class>ReponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReponseServlet</servlet-name>
    <url-pattern>/reponse.jsp</url-pattern>
  </servlet-mapping>
</web-app>